RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{SERVER_PORT} 80

RewriteRule ^(.*)$ https://cit.ac.in/$1 [R,L]

RewriteRule ^([a-z])/?$ pages.php?p=$1 [L]