RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{SERVER_PORT} 80

RewriteRule ^([^/]+)?$ pages.php?p=$1 [QSA,L]


RewriteRule ^([a-zA-Z0-9])/?$ pages.php?p=$1 [L]